.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 91px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }
}

.logout-button {
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
}

.error-message {
  color: #0f0f0f;
}