.u-section-1 .u-sheet-1 {
    min-height: 305px;
}

.u-section-1 .u-text-1 {
    margin: 36px auto 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin: 36px auto 50px;
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 318px;
    }
}