 .u-section-1 {
  min-height: 579px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  margin: 25px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 356px;
  width: 524px;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 50%;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 529px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}